/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

body{
  margin: 0;
  padding: 0;
}

.sidebar{
  background-color: #000 !important; /* Ensures the background is black */
  transition: width 0.2s;
  color: aliceblue;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  position: relative;
}

.logo-content {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Makes the image rounded */
  overflow: hidden;
}

.product-name {
  color: #fff;
  margin-left: 12px;
  font-size: 18px;
  transition: opacity 0.3s ease, margin-left 0.3s ease; /* Smooth transition for name */
}

/* Hide the product name when collapsed */
.logo-content.collapsed .product-name {
  opacity: 0;
  margin-left: 0;
}

.collapse-arrow {
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  opacity: 0; /* Hide by default */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition for opacity and transform */
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* Show the collapse icon when hovering over the logo container */
.logo:hover .collapse-arrow {
  opacity: 1;
  transform: translateY(-50%) scale(1); /* Optional scale effect */
}

.menu-bar{
  height: 82vh;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
  

}
.toggle-theme-btn{
  right: 10px;

}

